// Typography
// ---------------------------------------
@use "sass:map";
@use "sass:list";
@use "sass:math";
@use "sass:string";

// Load variables and mixins this file depends on (from parent directory)
@use "../settings" as *;
@use "modular-scale" as *;
@use "mixins" as *;

// Setting root sizes and base styles.
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  @include rootsize;
}

// Site-wide base styles.
body {
  font-family: string.unquote(map.get($bodytype, font-family));
  font-style: normal;
  font-weight: map.get($bodytype, regular);
  line-height: 2rem;
  @include fontsize(zeta, all);
}

// Links.
a {
  color: $linkColour;
  text-decoration: none;
  transition: color .1s, background-color .1s;

  &:hover, &:active, &:focus {
    color: $hoverColour;
    text-decoration: none;
  }
}

// Styles for typeset text.
.typeset {

  // Nice underlines for text links.
  p a, li a {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,$linkColour 50%);
    background-position: 0 93%;
    background-repeat: repeat-x;
    background-size: 100% 0.15rem;
    text-shadow: 0.1rem 0 $backgroundColour,
                 0.15rem 0 $backgroundColour,
                -0.1rem 0 $backgroundColour,
                -0.15rem 0 $backgroundColour;

    &:hover, &:active, &:focus {
      background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,$hoverColour 50%);
    }
  }

  // Paragraphs. OpenType ligatures and oldstyle figures enabled if available.
  p {
    font-feature-settings: 'kern', 'onum', 'liga';
    @include baseline($fontsize: zeta, $font: $bodytype, $lineheight: 2, $below: 2, $breakpoint: all);
  }

  // Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.
  h1, h2, h3, h4, h5, h6 {
    color: $headingColour;
    font-family: string.unquote(map.get($headingtype, font-family));
    font-feature-settings: 'dlig', 'liga', 'lnum', 'kern';
    font-style: normal;
    font-weight: map.get($headingtype, bold);
  }

  // Heading level 1.
  h1, .alpha {
    @include sassline($fontsize: alpha, $font: $headingtype, $lineheight: 3, $below: 1, $breakpoint: all);
  }

  // Heading level 2.
  h2, .beta {
    @include sassline(beta, $headingtype, 3, 1, all);
  }

  // Heading level 3.
  h3, .gamma {
    @include sassline(gamma, $headingtype, 3, 1, all);
  }

  // Heading level 4.
  h4, .delta {
    @include sassline(delta, $headingtype, 2, 0, all);
  }

  // Heading level 5.
  h5, .epsilon {
    @include sassline(epsilon, $headingtype, 2, 0, all);
  }

  // Heading level 6.
  h6, .zeta {
    @include sassline(zeta, $headingtype, 2, 0, all);
  }

  // Lists - separate selectors to avoid mixed declarations
  ul, ol {
    @include baseline(zeta, $bodytype, 2, 2, all);
  }

  ul li, ol li {
    font-feature-settings: 'kern', 'onum', 'liga';
    margin-left: 2rem;
    @include breakpoint(break-1) {
      margin-left: 0;
    }
  }

  ul li ol, ul li ul,
  ol li ol, ol li ul {
    padding-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  // Ordered lists.
  ol {
    list-style-type: none;
  }

  ol li {
    counter-increment: top-level;
  }

  ol li:before {
    content: counter(top-level) '.';
    font-feature-settings: 'lnum', 'tnum';
    margin-left: -3rem;
    position: absolute;
    text-align: right;
    width: 2em;
  }

  ol li ul li:before {
    content: '';
  }

  ol li ul li ol li {
    counter-increment: alt-level;
  }

  ol li ul li ol li:before {
    content: counter(alt-level) '.';
  }

  ol li ol li {
    counter-increment: sub-level;
  }

  ol li ol li:before {
    content: counter(top-level) '.' counter(sub-level);
  }

  ol li ol li ul li:before {
    content: '';
  }

  ol li ol li ol li {
    counter-increment: sub-sub-level;
  }

  ol li ol li ol li:before {
    content: counter(top-level) '.' counter(sub-level) '.' counter(sub-sub-level);
  }

  // Definition lists - separate selectors
  dl {
    @include baseline(zeta, $bodytype, 2, 2, all);
  }

  dl dt, dl dd {
    font-feature-settings: 'kern', 'onum', 'liga';
    margin-left: 2rem;
    @include breakpoint(break-1) {
      margin-left: 0;
    }
  }

  dl dt {
    font-weight: map.get($bodytype, bold);
  }

  dl dd + dt {
    padding-top: 1rem;
  }

  // Tables.
  table {
    font-family: string.unquote(map.get($headingtype, font-family));
    font-feature-settings: 'liga', 'lnum', 'tnum', 'kern';
    font-style: normal;
    font-weight: map.get($headingtype, regular);
    width: 100%;
    @include sassline(eta, $headingtype, 2, 0, all);
  }

  table thead th {
    padding-bottom: 1px;
    @include sassline(zeta, $headingtype, 2, 0, all);
  }

  // Bold.
  b, strong, .bold {
    font-weight: map.get($bodytype, bold);
  }

  // Italic.
  em, i, .italic {
    font-style: map.get($bodytype, italic);
  }

  // Caption and inline small text.
  small, .caption {
    font-family: string.unquote(map.get($headingtype, font-family));
    font-style: normal;
    font-weight: map.get($headingtype, regular);
    @include fontsize(theta, all);
  }

  small {
    line-height: 1rem;
  }

  .caption {
    color: $captionColour;
    @include baseline(theta, $headingtype, 2, 2, all);
  }

  // Nice spacing for captions.
  h1 + .caption, .alpha + .caption, h2 + .caption, .beta + .caption, h3 + .caption, .gamma + .caption {
    margin-top: -1rem;
  }

  .delta + .caption, .epsilon + .caption, .zeta + .caption {
    margin-top: 0rem;
  }

  // Quotes - separate blockquote and blockquote p
  blockquote {
    @include breakpoint(break-1) {
      margin-left: -1rem;
    }
  }

  blockquote p {
    border-left: 0.15rem solid $linkColour;
    font-style: map.get($bodytype, italic);
    padding-left: 1rem;

    // Add spacing below blockquote paragraphs to align to baseline grid.
    $get-scale: map.get($modular-scale, scale-0);
    $get-size: map.get($get-scale, zeta);
    $rootsize: list.nth($sizes, 1);
    $baseline-shift: #{math.div(math.div($get-size, 2) * (math.div(2 * $rootsize, $get-size) - map.get($bodytype, cap-height)), $rootsize) + 0.00001};
    $baseline-push: #{3 - (math.div($get-size * (math.div(2 * $rootsize, $get-size) - map.get($bodytype, cap-height)), $rootsize) + 0.00001)};

    margin-bottom: #{$baseline-push}rem;
    padding-bottom: #{$baseline-shift}rem;

    @for $i from 2 through $breakpoints-limit {
      $get-scale: map.get($modular-scale, scale-#{$i - 1});
      $get-size: map.get($get-scale, zeta);
      $rootsize: list.nth($sizes, $i);
      $baseline-shift: #{math.div(math.div($get-size, 2) * (math.div(2 * $rootsize, $get-size) - map.get($bodytype, cap-height)), $rootsize) + 0.00001};
      $baseline-push: #{3 - (math.div($get-size * (math.div(2 * $rootsize, $get-size) - map.get($bodytype, cap-height)), $rootsize) + 0.00001)};

      @media screen and (min-width: math.div(list.nth($points, $i), 16) * 1em ) {
        margin-bottom: #{$baseline-push}rem;
        padding-bottom: #{$baseline-shift}rem;
      }
    }
  }

  // Horizontal rule.
  hr {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,$captionColour 50%);
    background-position: 0 50%;
    background-repeat: repeat-x;
    background-size: 100% 0.15rem;
    border: 0;
    margin: 0;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  // Code block.
  code, pre {
    background-color: $codeBackgroundColour;
    font-family: string.unquote(map.get($monospacetype, font-family));
  }

  pre {
    display: block;
    margin-bottom: 2rem;
    padding: 1rem;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
  }

  code {
    line-height: 1rem;
    @include fontsize(theta, all);
  }

  // Letter space those capitals people, Jan Tschichold would be proud.
  .upper {
    font-kerning: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  // Real small caps.
  .small-caps {
    font-feature-settings: 'smcp', 'kern';
    font-kerning: normal;
    letter-spacing: 0.1rem;
  }

  // Consistent height numbers with OpenType.
  .lining-numerals {
    font-feature-settings: 'lnum', 'kern';
  }

  // Ascending and descending numbers with OpenType.
  .oldstyle-numerals {
    font-feature-settings: 'onum', 'kern';
  }
}
